/Adding_array.class
/Array2Dbasic.class
/ArraylistExample.class
/BasicArraysInput.class
/BasicStringInput.class
/BuildArrayFromPermutation.class
/EvenDigits.class
/EvenNumberOfDigit.class
/LinearSearch.class
/MaxValueInArray.class
/MinValueInArray.class
/ReverseSting.class
/ReversingTheArray.class
/RichestAmount.class
/SearchingIn2DArray.class
/SearchingInString.class
/SwapingValueInArray.class
/maxin2DArray.class
/searchInRange.class
